<html>
	<head>
		<title>
			RockLobster
		</title>
	</head>
	<body>
		<div class="blog-posts">
			{{#posts}}
			<div class="blog-posts-entry">
				<div class="blog-posts-entry-title">
					{{#metadata}}{{& title}}{{/metadata}}
				</div>
				<div class="blog-posts-entry-post">
					{{& post}}
				</div>
			</div>
			<hr />
			{{/posts}}
			<div class="blog-posts-pagination-info">
				Page {{num_pages_current}} of {{num_pages_total}}
			</div>
		</div>
	</body>
</html>
