<html>
	<head>
		<title>
			{{#attr}}{{title}}{{/attr}}
		</title>
	</head>
	<body>
		<div class="blog-title">
			{{#attr}}{{title}}{{/attr}}
		<div>
		<div class="blog-post">
			{{& post}}
		<div>
		<div class="blog-tags">
		       Tags: {{#plugins}}single-page-tags||{{#attr}}{{tags}}{{/attr}}||<span>||</span>||<a href="category_[tagname].html">||</a>|| &#124; {{/plugins}}
		<div>
		<div class="blog-date">
		       Posted: {{#plugins}}pretty-date||{{#attr}}{{date}}{{/attr}}||EEEE d MMMM yyyy, h:ma{{/plugins}}
		<div>
	</body>
</html>
