<html>
	<head>
		<title>
			{{#attr}}{{title}}{{/attr}}
		</title>
	</head>
			{{#plugins}}tags{{/plugins}}
	<body>
		<div class="blog-title">
			{{#attr}}{{title}}{{/attr}}
		<div>
		<div class="blog-post">
			{{& post}}
		<div>
		<div class="blog-tags">
			Tags: {{#attr}}{{tags}}{{/attr}}
		<div>
		<div class="blog-date">
			Posted: {{#attr}}{{date}}{{/attr}}
		<div>
	</body>
</html>
